.primary-button {
  background-color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color-light);
  }

  &:active {
    background-color: var(--primary-color);
  }
}

.secondary-button {
  background-color: var(--secondary-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-color-light);
  }

  &:active {
    background-color: var(--secondary-color);
  }
}

.warning-button {
  background-color: var(--warning-color);

  &:hover,
  &:focus {
    background-color: var(--warning-color-light);
  }

  &:active {
    background-color: var(--warning-color);
  }
}

.success-button {
  background-color: var(--success-color);

  &:hover,
  &:focus {
    background-color: var(--success-color-light);
  }

  &:active {
    background-color: var(--success-color);
  }
}

.danger-button {
  background-color: var(--danger-color);

  &:hover,
  &:focus {
    background-color: var(--danger-color-light);
  }

  &:active {
    background-color: var(--danger-color);
  }
}

.primary-button-outlined {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
  }

  &:active {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.secondary-button-outlined {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);

  &:hover,
  &:focus {
    color: var(--secondary-color-light);
    border-color: var(--secondary-color-light);
  }

  &:active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
}

.warning-button-outlined {
  background-color: transparent;
  border: 1px solid var(--warning-color);
  color: var(--warning-color);

  &:hover,
  &:focus {
    color: var(--warning-color-light);
    border-color: var(--warning-color-light);
  }

  &:active {
    color: var(--warning-color);
    border-color: var(--warning-color);
  }
}

.success-button-outlined {
  background-color: transparent;
  border: 1px solid var(--success-color);
  color: var(--success-color);

  &:hover,
  &:focus {
    color: var(--success-color-light);
    border-color: var(--success-color-light);
  }

  &:active {
    color: var(--success-color);
    border-color: var(--success-color);
  }
}

.danger-button-outlined {
  background-color: transparent;
  border: 1px solid var(--danger-color);
  color: var(--danger-color);

  &:hover,
  &:focus {
    color: var(--danger-color-light);
    border-color: var(--danger-color-light);
  }

  &:active {
    color: var(--danger-color);
    border-color: var(--danger-color);
  }
}
