* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

html, body {
  background: var(--body-background);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading-color);
  font-family: var(--heading-font);
}

p, span, small {
  color: var(--body-color);
  font-family: var(--body-font);
  line-height: 1.75;
  letter-spacing: 1px;
}

button {
  margin: 1rem 0;
  padding: 0.75rem 1.75rem;
  border: none;
  outline-color: var(--heading-color);
  border-radius: var(--spacing-nano);
  color: var(--heading-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);

  &:disabled {
    color: hsl(0, 0%, 60%);
    background-color: hsl(0, 0%, 80%);
    border: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.99);
  }
}

